<section>
    <form [formGroup]="f" (ngSubmit)="f.valid && onSubmit(f)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGroup="10px">
        <mat-form-field>
            <input formControlName="email" matInput type="email" placeholder="Your E-mail">
            <mat-error *ngIf="email.hasError('required')">E-mail is required.</mat-error>
            <mat-error *ngIf="email.hasError('email')">E-mail is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="password" matInput type="password" placeholder="Your Password">
            <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Password should be 6 characters long.</mat-error>
        </mat-form-field>
        <button [disabled]="f.invalid" mat-raised-button color="primary">Login</button>
    </form>
</section>
