<section>
    <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGroup="10px">
        <mat-form-field>
            <input ngModel #email="ngModel" matInput type="email" name="email" id="email" placeholder="Email" required>
            <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
            <mat-error *ngIf="email.hasError('email')">Email is invalid.</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Should be atleast 6 characters long.">
            <input ngModel #password="ngModel" matInput type="password" name="password" id="password" placeholder="Password"
                required minlength="6">
            <mat-hint align="end">{{password.value?.length}}/6</mat-hint>
            <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Password must be 6 characters long.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput #birthdate="ngModel" ngModel name="birthdate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox reqired color="primary">Agree to Terms and Conditions.</mat-checkbox>

        <button [disabled]="f.invalid" mat-raised-button color="primary">Submit</button>
        
    </form>
</section>